input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.list-group-item {
    border: none;
}

.jga-widget-tool {
    z-index: 1;
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.74;
}

.flickr-top-buffer {
    margin-top:20px;
}

.btn-top-margin {
    margin-top : 5px;
}

.widget-top-margin {
    margin-top : 5px;
}

.widget-link{
    cursor: pointer;
}

.youtube-widget {
    margin-top : 5px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form.ng-submitted input.ng-invalid{
    border: solid #a94442;
}

form.ng-invalid.ng-submitted span{
    color: #a94442;
    margin-bottom: 5px;
}

span.submitted {
    color: #a94442;
    margin-bottom: 5px;
}

input.submitted{
    border: solid #a94442;
}