input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.list-group-item {
    border: none;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.74;
}

.flickr-top-buffer {
    margin-top:20px;
}

.btn-top-margin {
    margin-top : 5px;
}

.widget-top-margin {
    margin-top : 5px;
}
