<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Register</h1>
    <input ng-model="username"
           class="form-control"
           type="text"
           placeholder="username"/>
    <input ng-model="password"
           class="form-control"
           type="password"
           placeholder="password"/>
    <input ng-model="verify"
           class="form-control"
           type="password"
           placeholder="verify password"/>
    <a ng-click="model.registerUser(username, password, verify)"
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Cancel</a>
</div>