<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" >
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div  ng-if="model.error"
          class="alert alert-danger alert-dismissible"
          role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!</strong> {{model.error}}
    </div>

    <div class="form-group">
        <label for="widget-image-name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="widget-image-name"
               placeholder="image name"/>
        <span ng-show="model.noWidgetName">
                {{model.noWidgetName}}
        </span>
    </div>
    <div class="form-group">
        <label for="widget-image-text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="widget-image-text"
               placeholder="image text"/>
    </div>
    <div class="form-group">
        <label for="widget-image-url">URL</label>
        <input ng-model="model.widget.url"
               type="text"
               class="form-control"
               id="widget-image-url"
               placeholder="image url"/>
    </div>

    <div class="form-group">
        <label for="widget-image-width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="widget-image-width"
               value="100%"
               placeholder="image width"/>
    </div>

    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <input  name="userId" value="{{model.userId}}" style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}" style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-danger  btn-block btn-top-margin">Delete</a>

    <a class="btn btn-primary btn-block"
        href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">
        Search
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>