<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" >
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <form name="model.editWidgetForm" novalidate>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="widget-name"
                   required
                   placeholder="Name"
                   name="name"
                   required
                   ng-class="{submitted:model.editWidgetForm.name.$invalid && model.editWidgetForm.$submitted}">
             <span ng-show="model.editWidgetForm.$submitted && model.editWidgetForm.name.$invalid"
                   ng-class="{submitted:model.editWidgetForm.name.$invalid && model.editWidgetForm.$submitted}">
            <span class="fa fa-exclamation-triangle"></span>
                Please enter Widget Name
            </span>
        </div>

        <div class="form-group">
            <label>Text</label>
            <div ng-model="model.widget.text"
                 text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
            </div>
        </div>
    </form>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>