<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" >
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div  ng-if="model.error"
          class="alert alert-danger alert-dismissible"
          role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Error!</strong> {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="widget-heading-name"
                   required
                    placeholder="name"/>
            <span ng-show="model.noWidgetName">
                {{model.noWidgetName}}
            </span>
        </div>

        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="widget-heading-text"
                   placeholder="text"/>
        </div>

        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <select ng-model="model.widget.size"
                    class="form-control"
                    id="widget-heading-size">
                <option ng-selected="model.widget.size===1" value=1>1</option>
                <option ng-selected="model.widget.size===2" value=2>2</option>
                <option ng-selected="model.widget.size===3" value=3>3</option>
                <option ng-selected="model.widget.size===4" value=4>4</option>
                <option ng-selected="model.widget.size===5" value=5>5</option>
                <option ng-selected="model.widget.size===6" value=6>6</option>
            </select>
        </div>
    </form>

    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widgetId)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>